#!/usr/bin/env bash
echo -en "\e]P0{{base00-hex}}" #black        8th
echo -en "\e]P1{{base08-hex}}" #darkgrey
echo -en "\e]P2{{base0B-hex}}" #darkred      2nd
echo -en "\e]P3{{base0A-hex}}" #red
echo -en "\e]P4{{base0D-hex}}" #darkgreen    4th
echo -en "\e]P5{{base0E-hex}}" #green
echo -en "\e]P6{{base0C-hex}}" #brown        3rd
echo -en "\e]P7{{base05-hex}}" #yellow
echo -en "\e]P8{{base03-hex}}" #darkblue     6th
echo -en "\e]P9{{base08-hex}}" #blue
echo -en "\e]PA{{base0B-hex}}" #darkmagenta  7th
echo -en "\e]PB{{base0A-hex}}" #magenta
echo -en "\e]PC{{base0D-hex}}" #darkcyan     5th
echo -en "\e]PD{{base0E-hex}}" #cyan
echo -en "\e]PE{{base0C-hex}}" #lightgrey    1st
echo -en "\e]PF{{base07-hex}}" #white        BG
clear #for background artifacting
