@define-color custom_bg mix(@theme_bg_color, @theme_fg_color,  0.1);
@define-color custom_bg2 mix(@theme_bg_color, @theme_fg_color,  0.2);
@define-color custom_bg3 mix(@theme_bg_color, @theme_fg_color,  0.3);
@define-color custom_red mix(@error_color, @theme_fg_color,  0.3);

window.bar {
    background-color: @custom_bg;
    border-radius: 25px;
    border: 2px solid @theme_fg_color;
}

window.panel {
  background-color: @custom_bg;
  border-radius: 12px;
  border: 2px solid @theme_fg_color;
}

box.normal {
  background-color: @custom_bg;
  border: 0px solid @theme_fg_color;
  padding: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
}

box.fancy {
  background-color: @custom_bg2;
  border-radius: 8px;
  border: 0px solid @theme_fg_color;
  padding: 5px;
  margin: 2px;
  min-height: 18px;
  min-width: 18px;
}

button {
  all: unset; 
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: transparent;
}

button:hover {
    padding-top: 1px;
    border-bottom: 2px solid transparent;
}

label {
    font-weight: bold;
}

.workspaces button {
  padding-left: 5px;
  padding-right: 5px;
}

.workspaces button.focused {
    padding-top: 1px;
    border-bottom: 2px solid @theme_selected_bg_color;
}

levelbar block,
highlight {
    min-height: 10px;
}

box.left {
  padding-left: 8px;
}

box.right {
  padding-right: 8px;
}

box.panelbox {
  padding: 5px;
}

scale slider {
  all: unset; 
}

scale {
  margin: 0;
  padding: 0;
}

scale trough highlight {
  background-color: @theme_fg_color;
}

scale trough {
  background-color: @custom_bg3;
  opacity: 1;
}

image.powerbutton {
  color: @custom_red;
}
