/* Removes the white loading page */
@-moz-document url(about:blank) {
	html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
    background: var(--bct-w-pages-bg) !important;
	}
}

@-moz-document url("about:newtab") {
/* Makes background images scale to browser window. */
  body {
    background-image: url("https://source.unsplash.com/3840x2160?nature") !important;           
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position-x: center !important;
    background-position-y: bottom !important;
  }
}
@-moz-document url("about:home") {
/* Makes background images scale to browser window. */
  body {
    background-image: url("https://source.unsplash.com/3840x2160?nature") !important;           
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position-x: center !important;
    background-position-y: bottom !important;
  }
}

