# Base16 {{scheme-name}} - hyprland color config
# Scheme by {{scheme-author}}

$base0alpha = {{base00-hex}}
$base1alpha = {{base01-hex}}
$base2alpha = {{base02-hex}}
$base3alpha = {{base03-hex}}
$base4alpha = {{base04-hex}}
$base5alpha = {{base05-hex}}
$base6alpha = {{base06-hex}}
$base7alpha = {{base07-hex}}
$base8alpha = {{base08-hex}}
$base9alpha = {{base09-hex}}
$base10alpha = {{base0A-hex}}
$base11alpha = {{base0B-hex}}
$base12alpha = {{base0C-hex}}
$base13alpha = {{base0D-hex}}
$base14alpha = {{base0E-hex}}
$base15alpha = {{base0F-hex}}

$base0 = 0xff{{base00-hex}}
$base1 = 0xff{{base01-hex}}
$base2 = 0xff{{base02-hex}}
$base3 = 0xff{{base03-hex}}
$base4 = 0xff{{base04-hex}}
$base5 = 0xff{{base05-hex}}
$base6 = 0xff{{base06-hex}}
$base7 = 0xff{{base07-hex}}
$base8 = 0xff{{base08-hex}}
$base9 = 0xff{{base09-hex}}
$base10 = 0xff{{base0A-hex}}
$base11 = 0xff{{base0B-hex}}
$base12 = 0xff{{base0C-hex}}
$base13 = 0xff{{base0D-hex}}
$base14 = 0xff{{base0E-hex}}
$base15 = 0xff{{base0F-hex}}
